<section class="viewer-container">
  <pdf-viewer [src]="pdfSrc" class="pdf-viewer"></pdf-viewer>
  <div *ngIf="showOverlay" class="conditions-container">
    <div *ngIf="showPattern" class="pattern-container">
      <div class="col-start-2 col-span-6 flex p-3">
        <div class="flex flex-col gap-y-10 bg-[#6D9886] py-2 px-3 rounded-2xl shadow-lg w-full min-h-[72vh] max-h-[90vh]">
          <div class="flex flex-col w-full space-y-6">
            <div class="flex flex-row w-full">
              <div class="flex justify-start w-full items-center font-gabarito text-dark-1 text-heading3-normal">
                <h1>PATTERNS</h1>
              </div>
              <button
                class="base-button w-1/2"
                (click)="addPattern()">
                <span class="text-small-regular">new pattern</span>
              </button>
              <div class="flex flex-row justify-end w-full gap-x-4 font-jetbrains">
                <button
                  class="base-button"
                  (click)="togglePattern()">
                  <span class="text-small-regular">close</span>
                </button>
                <button
                  class="base-button"
                  (click)="applySelectedPatterns()" [disabled]="selectedPatterns.size === 0">
                  <span class="text-small-regular">save</span>
                </button>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-3 gap-x-3 gap-y-3 w-full self-start overflow-y-scroll max-h-[59vh]">
            <div *ngFor="let pattern of patterns; let pIndex = index"
                 class="relative w-full bg-light-2 rounded-md py-2 px-3 h-auto shadow shadow-primary/10 space-y-1">
              <div class="w-full pr-10">
                <label class="uppercase text-heading4-medium">{{ pattern.name }}</label>
              </div>
              <div class="w-full space-y-2">
                <div *ngFor="let condition of pattern.conditions" class="">
                  {{ condition.text }}
                </div>
              </div>
              <div class="absolute right-0 top-0 mt-1 mr-1 bg-none rounded-sm space-x-1 space-y-1 px-1">
                <button
                  [attr.id]="'pattern-' + pIndex"
                  class="bg-none rounded-sm transition-colors ease-in-out items-center py-1 px-1 cursor-pointer font-gabarito hover:bg-dark-1"
                  (click)="togglePatternSelection(pIndex)">
                  <img src="assets/{{selectedPatterns.has(pIndex) ? 'visibility.svg' : 'visibility_off.svg'}}"
                       alt="toggle visibility" class="w-4 h-4">
                </button>
                <button (click)="startEditPattern(pIndex)"
                        class="bg-gray-100 rounded-sm transition-colors ease-in-out items-center py-1 px-1 cursor-pointer font-gabarito hover:bg-dark-1">
                  <img src="../../../assets/tune.svg" alt="tune" class="w-4 h-4">
                </button>
                <button
                  class="bg-gray-100 rounded-sm transition-colors ease-in-out items-center py-1 px-1 cursor-pointer font-gabarito hover:bg-dark-1"
                  (click)="deletePattern(pattern.id, pIndex)">
                  <img src="../../../assets/delete.svg" alt="delete" class="w-4 h-4">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-conditions">
      <div class="conditions-content">
        <div class="flex flex-col w-full space-y-6">
          <div class="flex flex-row w-full">
            <div class="conditions-header">
              <h1>CONDITIONS</h1>
            </div>
            <button
              class="base-button w-1/2"
              (click)="togglePattern()">
              <span class="text-small-regular">patterns</span>
            </button>
            <div class="right-side-buttons">
              <button *ngIf="conditions.length > 0" (click)="addPattern()"
                      class="base-button">
                <span class="text-small-regular">create pattern</span>
              </button>
              <button
                class="base-button"
                (click)="toggleOverlay()">
                <span class="text-small-regular">close</span>
              </button>
              <button
                class="base-button"
                (click)="saveConditionsForPdf()">
                <span class="text-small-regular">save</span>
              </button>
            </div>
          </div>
          <div class="flex flex-col gap-y-3 px-5 w-full font-gabarito">
            <div *ngFor="let condition of conditions; let i = index" class="conditions-list">
              <button
                class="conditions-list-button rounded-l-full"
                (click)="toggleVisibility(i)">
                <img src="assets/{{condition.visible ? 'visibility.svg' : 'visibility_off.svg'}}"
                     alt="toggle visibility" class="w-6 h-6">
              </button>
              <div
                class="conditions-list-label">
                {{ condition.text }}
              </div>
              <button
                class="conditions-list-button rounded-r-full"
                (click)="deleteCondition(condition.id)">
                <img src="../../../assets/delete.svg" alt="delete" class="w-6 h-6">
              </button>
            </div>
          </div>
        </div>
        <div class="flex w-full justify-end">
          <select #conditionSelect (change)="onPrimarySelectionChange(conditionSelect.value)"
                  class="w-1/2 text-center items-center py-2 rounded-l-full border-0 font-gabarito text-base-regular tracking-wide bg-dark-1 text-light-1 focus:ring-0 focus:outline-none">
            <option value="predefined">Predefined</option>
            <option value="makeYourOwn" [selected]="selectedCondition === 'makeYourOwn'">Make your own</option>
            <option *ngIf="savedConditions.length > 0" value="saved">Saved</option>
          </select>

          <input *ngIf="selectedCondition === 'makeYourOwn'" [(ngModel)]="newConditionValue" type="text"
                 class="w-full px-3 py-2 border-0 font-gabarito text-base-regular tracking-wide bg-dark-1 focus:ring-0 focus:outline-none placeholder-gray-100 text-light-1"
                 placeholder="Condition...">
          <select *ngIf="selectedCondition === 'predefined'" [(ngModel)]="selectedPredefinedConditionId"
                  #secondarySelect
                  class="w-full px-3 py-2 border-0 font-gabarito text-base-regular tracking-wide bg-dark-1 focus:ring-0 focus:outline-none placeholder-gray-100 text-light-1">
            <option *ngFor="let condition of secondaryOptions[selectedCondition]"
                    [value]="condition.id">{{ condition.text }}
            </option>
          </select>

          <select *ngIf="selectedCondition === 'saved'" [(ngModel)]="selectedSavedConditionId" #savedSelect
                  class="w-full px-3 py-2 border-0 font-gabarito text-base-regular tracking-wide bg-dark-1 focus:ring-0 focus:outline-none placeholder-gray-100 text-light-1">
            <option *ngFor="let saved of savedConditions" [value]="saved.id">{{ saved.text }}</option>
          </select>

          <button *ngIf="selectedCondition === 'makeYourOwn'" (click)="saveCondition()"
                  class="bg-dark-1 text-light-1 items-center py-2 px-4 cursor-pointer w-fit whitespace-nowrap border-0 text-small-regular">
            save condition
          </button>
          <button
            class="bg-dark-1 text-light-1 rounded-r-full items-center py-2 px-4 cursor-pointer w-fit whitespace-nowrap border-0 text-small-regular"
            (click)="addSelectedCondition()">
            new condition
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-1 w-full h-full pl-32">
    <div class="flex flex-col justify-start w-full h-full rounded-xl bg-white shadow shadow-secondary/10">
      <div
        class="grid grid-cols-2 font-jetbrains font-semibold w-full bg-none text-light-1 rounded-full text-center items-center py-2 px-3">
        <div class="col-span-1 items-start">
          <div class="flex flex-row gap-x-2.5">
            <button class="base-button" [routerLink]="['/dashboard']">
              <span class="text-small-regular">close</span>
            </button>
            <button class="base-button" (click)="downloadAnalysisAsPDF()">
              <span class="text-small-regular">download</span>
            </button>
            <a (click)="openAnalysisAsPDF()" class="base-button cursor-pointer">
              <span class="text-small-regular">view as PDF</span>
            </a>
          </div>
        </div>
        <div class="col-span-1 items-end">
          <div class="flex flex-row justify-end">
            <button class="base-button" (click)="toggleOverlay()">
              <span class="text-small-regular">edit</span>
            </button>
          </div>
        </div>
      </div>
      <div class="w-full h-full p-4">
        <div class="flex flex-col gap-y-4">
          <div disabled
               class="w-fit h-[52vh] max-h-[72vh] min-h-[50vh] border-0 p-2 font-gabarito text-body-normal tracking-wide overflow-y-auto"
               placeholder="Current pdf file has information about...">
            {{ analysisResponse }}
          </div>
        </div>
      </div>
      <div
        class="grid grid-cols-2 font-jetbrains font-semibold w-full bg-none text-light-1 rounded-full text-center items-center py-2 px-3">
        <div class="col-span-1 items-start">
          <div class="flex flex-row">
            <button
              class="base-button"
              (click)="terminateAnalysis()">
              <span class="text-small-regular">stop analyzing</span>
            </button>
          </div>
        </div>
        <div class="col-span-1 items-end">
          <div class="flex flex-row justify-end">
            <button
              class="base-button"
              (click)="analyzePdf(cleanedFileName)">
              <span class="text-small-regular">launch</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="message && showMessage" class="absolute bottom-4 right-4">
  <div class="flex items-center w-full p-5 gap-x-2 text-dark-1 bg-light-1 rounded-sm shadow" id="toast-default"
       role="alert">
    <div class="ms-3 text-sm font-normal whitespace-nowrap uppercase">{{ message }}</div>
    <input *ngIf="showInput" [(ngModel)]="patternName" type="text"
           class="px-4 py-2 bg-light-1 border-2 border-dark-1 text-dark-1 round-sm focus:outline-none focus:ring-0 focus:border-dark-1 "/>
    <div *ngIf="showOptions" class="flex gap-x-2">
      <button (click)="handleYes()"
              class="px-4 py-2 bg-light-1 border-2 border-dark-1 text-dark-1 round-sm hover:bg-dark-1 hover:text-light-1 transition-colors ease-in-out">
        YES
      </button>
      <button (click)="handleNo()"
              class="px-4 py-2 bg-light-1 border-2 border-dark-1 text-dark-1 round-sm hover:bg-dark-1 hover:text-light-1 transition-colors ease-in-out">
        NO
      </button>
    </div>
    <button (click)="cancel()"
            class="ms-auto -mx-1.5 -my-1.5 bg-none text-dark-5 focus:ring-0 p-1.5 hover:text-red-600 inline-flex items-center justify-center h-8 w-8"
            data-dismiss-target="#toast-default" aria-label="Close">
      <span class="sr-only">Close</span>
      <svg class="!w-4 !h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
    </button>
  </div>
</div>
