<section class="flex flex-col space-y-64 text-light-1 pt-48">
  <div class="grid">
    <div class="grid grid-rows-2 grid-cols-5 font-bold font-gabarito text-[95px]">
      <span class="text-left row-span-1 col-start-1 col-span-3">Generating The</span>
      <span class="text-right row-span-1 col-start-3 col-span-3">Document Of Value</span>
    </div>
  </div>
  <div class="grid items-center font-cormorant-garamond">
    <div class="grid grid-cols-3 text-heading1-normal tracking-wide leading-relaxed">
      <div class="col-start-1 col-span-1">
        <div class="flex flex-col justify-around items-center pl-12 pt-10">
        <span class="flex font-light">
          Explore how our leading-edge solutions transform PDF data processing,
          propelling growth and setting new standards of excellence for businesses of all sizes.
        </span>
        </div>
      </div>
      <div class="col-start-2 col-span-2">
        <div class="flex justify-center items-center p-2">
          <video class="rounded-3xl w-[18em]" autoplay muted>
            <source src="../../../assets/tokens-magnetic-light-1400w-4_3.webm" type="video/webm">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
  <div class="flex w-full justify-center">
    <div class="flex justify-center items-center font-jetbrains font-light text-[62px]">
      <span class="row-span-1 col-start-1 text-center">
        Transforming PDFs into Possibilities
      </span>
    </div>
  </div>
  <div class="grid items-center font-cormorant-garamond">
    <div class="grid grid-cols-3 text-heading1-normal tracking-wide leading-relaxed">
      <div class="col-start-1 col-span-1">
        <div class="flex justify-center items-center p-2">
          <video class="rounded-3xl w-[10em]" autoplay loop muted>
            <source src="../../../assets/tokens-alternating-light-400w-1_1.webm" type="video/webm">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <div class="col-start-2 col-span-2">
        <div class="flex flex-col justify-around items-center px-8 py-8">
          <span class="flex font-light">
            Our web app empowers users to expertly manage their PDFs, analyze content, and respond dynamically to document conditions,
            fueling progress through innovation and operational excellence.
          </span>
          <div class="flex py-14 justify-start self-start">
            <a [routerLink]="['/about']"
               class="bg-light-1 text-dark-1 font-gabarito transition-colors ease-in-out font-semibold text-[22px]
               rounded-full px-10 py-4 hover:bg-gray-300 active:bg-gray-400 cursor-pointer">
              Our approach
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full justify-center border-t-2 border-b-2 border-dark-4 py-40 h-full">
    <div class="flex justify-center items-center font-cormorant-garamond font-light text-[76px]">
      <span class="row-span-1 col-start-1 text-center">Let's Create Together</span>
    </div>
    <div class="flex py-8 justify-start self-center">
      <a [routerLink]="['/sign-up']"
         class="bg-light-1 text-dark-1 font-gabarito transition-colors ease-in-out font-semibold text-[22px]
         rounded-full px-10 py-3 hover:bg-gray-300 active:bg-gray-400 cursor-pointer">
        Upload your first PDF
      </a>
    </div>
  </div>
</section>
